---
layout: base
---

<div class="about-wrapper">
  <aside class="profile-sidebar">
    <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" />
    <div class="title">{{ site.author.name }}</div>
    <div class="affiliation">
      <span class="badge">Ph.D. Student</span>
      <span class="badge">KIST &middot; Korea University</span>
    </div>
    <div class="cv-btn-wrapper">
      <a href="{{ '/assets/CV_EuncheolIm.pdf' | relative_url }}" class="cv-btn" target="_blank">
        <i class="fas fa-file-pdf"></i> CV
      </a>
    </div>
    <ul class="social-icons">
      {% include icons.html %}
    </ul>
  </aside>

  <div class="about-content">
    {{ content }}
  </div>
</div>
