<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.author.name }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}" {% if page.url == '/' %}class="active"{% endif %}>About</a></li>
          <li><a href="{{ '/publication/' | prepend: site.baseurl }}" {% if page.url contains '/publication' %}class="active"{% endif %}>Publication</a></li>
          <li><a href="{{ '/paper_review/' | prepend: site.baseurl }}" {% if page.url contains '/paper_review' %}class="active"{% endif %}>Paper Review</a></li>
          <li><a href="{{ '/project/' | prepend: site.baseurl }}" {% if page.url contains '/project' %}class="active"{% endif %}>Toy Project</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
      </span>
    </footer>
  </body>
</html>
